In [30]:
import pandas as pd
import glob
import os

In [31]:
joined_files = os.path.join("Data/processed", "*.csv")
joined_list = glob.glob(joined_files)
joined_list

['Data/processed\\00.csv',
 'Data/processed\\01.csv',
 'Data/processed\\02.csv',
 'Data/processed\\03.csv',
 'Data/processed\\04.csv',
 'Data/processed\\05.csv',
 'Data/processed\\06.csv',
 'Data/processed\\07.csv',
 'Data/processed\\08.csv',
 'Data/processed\\09.csv',
 'Data/processed\\10.csv',
 'Data/processed\\11.csv',
 'Data/processed\\12.csv',
 'Data/processed\\13.csv',
 'Data/processed\\14.csv',
 'Data/processed\\15.csv',
 'Data/processed\\16.csv',
 'Data/processed\\17.csv',
 'Data/processed\\18.csv',
 'Data/processed\\19.csv',
 'Data/processed\\20.csv',
 'Data/processed\\95.csv',
 'Data/processed\\96.csv',
 'Data/processed\\97.csv',
 'Data/processed\\98.csv',
 'Data/processed\\99.csv']

In [32]:
main = pd.read_csv(joined_list[0], index_col=0)
for i in joined_list[1:]:
    new = pd.read_csv(i, index_col=0)
    main = main.merge(new, left_index=True, right_index=True)
main = main [['95', '96', '97', '98', '99',
       '00', '01', '02', '03', '04', '05' ,'06', '07', '08', '09',
       '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
       '20']]
main.to_csv("Data/final_edu.csv")

In [33]:
main = main.reset_index()

In [34]:
main[(main['index'] == "total women") | (main['index'] == "Hispanic or Latino + Female")]

,index,95,96,97,98,99,00,01,02,03,...,11,12,13,14,15,16,17,18,19,20
2,total women,400.0,414.0,425.0,450.0,462.0,480.0,500.0,528.0,550.0,...,692.0,698.0,720.0,730.0,720.0,751.0,769.0,798.0,814.0,900.0
43,Hispanic or Latino + Female,307.0,320.0,323.0,346.0,360.0,378.0,400.0,408.0,404.0,...,520.0,523.0,547.0,546.0,560.0,577.0,600.0,608.0,640.0,700.0